.form{
    margin: 50px 250px;
}

.form-label{
    font-size: 20px;
}

.submit{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
border: none;
transition: background-color .15s;
transition: color .2s;
}

.submit:hover{
    background-color: white;
    color: black;

}



